.timeline {
  background-color: #91cfa4;
  padding: 4rem 2rem;
  font-family: 'Sora', sans-serif;
  display: flex;
  justify-content: center;
}

.timeline-card {
  background-color: #E9FFF1;
  border-radius: 20px;
  padding: 3rem;
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.timeline-titulo {
  font-size: 2.5rem;
  color: #00b894;
  margin-bottom: 3rem;
}

.timeline-container {
  position: relative;
  margin: 0 auto;
  border-left: 4px solid #00c694;
  padding-left: 2rem;
}

.timeline-item {
  position: relative;
  margin-bottom: 3rem;
  text-align: left;
}

.timeline-icon {
  position: absolute;
  left: -36px;
  top: 0;
  background-color: #00c694;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1rem;
}

.timeline-content {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.timeline-content h3 {
  margin: 0;
  color: #1e1e1e;
  font-size: 1.2rem;
}

.timeline-content p {
  color: #555;
  font-size: 1rem;
}

body.dark {
  color: #f0f0f0;
}

body.dark .timeline {
  background-color: #121212;
  color: #555;
}

body.dark .timeline-card {
  background-color: #1f1f1f;
  color: #f5f5f5;
}
